.main-description-container{
    -fx-background-color: #fff;
}
.container{
    -fx-background-color: #e9fdec;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 1 0;
    -fx-cursor: hand;
}
.section-title{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-text-fill: #000000;
}
.section-title-content{
    -fx-font-family: "Jost";
    -fx-font-size: 24;
    -fx-text-fill: #212832;
}
.sections-view-list-container{
    -fx-background-color: #fff;
}
.section-desc-title{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-text-fill: #212832;
}
.delete-section-btn{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 12;
    -fx-background-color: red;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}
.delete-section-btn:hover{
    -fx-opacity: 0.8;
}
.edit-section-btn{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 12;
    -fx-background-color: #BDA91A;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}
.edit-section-btn:hover{
    -fx-opacity: 0.8;
}
.description-section-details-container{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #D5FFDC;
    -fx-border-width: 2px;
}
.section-desc-label{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 22;
    -fx-text-fill: #212832;
}
.section-desc-content{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 18;
    -fx-text-fill: #495057;
}
.add-quiz-btn {
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.add-quiz-btn:hover{
    -fx-opacity: 0.8;
}
