.page-container{
    -fx-background-radius: 18;
}
.chalksContainer{
    -fx-background-color: #000000;
}
.chalks-white{
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}
.chalks-white:hover{
    -fx-opacity: 0.6;
}
.chalks-yellow{
    -fx-background-color: #ffff00;
    -fx-cursor: hand;
}
.chalks-yellow:hover{
    -fx-opacity: 0.6;
}
.chalks-red{
    -fx-background-color: #ff0000;
    -fx-cursor: hand;
}
.chalks-red:hover{
    -fx-opacity: 0.6;
}
.chalks-green{
    -fx-background-color: #047904;
    -fx-cursor: hand;
}
.chalks-green:hover{
    -fx-opacity: 0.6;
}
.eraser{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.eraser:hover{
    -fx-opacity: 0.6;
}
.tutor-name{
    -fx-font-family: "Jost";
    -fx-font-size: 18;
    -fx-fill: #FFFFFF;
}
.connected-name{
    -fx-font-family: "Jost";
    -fx-font-size: 18;
    -fx-fill: #000000;
}
.studentConnected{
    -fx-background-color: #D5FFDC;
    -fx-background-radius: 18;
}
.vboxConnected{
    -fx-background-color: #D5FFDC;
}
.scroll-pane-sections-container{
    -fx-background-color: #D5FFDC;
}
.scroll-pane-sections-container .scroll-bar:vertical{
    -fx-background-color: #D5FFDC;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.scroll-pane-sections-container .scroll-bar:vertical .thumb {
    -fx-background-color: #000000;
}
.scroll-pane-sections-container .scroll-bar:vertical .thumb:hover {
    -fx-opacity: 0.6;
}
.scroll-pane-sections-container .scroll-bar:vertical .increment-button,
.scroll-pane-sections-container .scroll-bar:vertical .decrement-button {
    -fx-background-color: #D5FFDC;
}
.inviteInput{
    -fx-background-color: transparent;
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}