.AnchorPaneDetailsProctClient
{
    -fx-background-color: #D5FFDC; /* Couleur de fond */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-color: #D5FFDC; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de la bordure */
}


.AnchorPaneDetailsProcttutor
{
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-background-radius: 15 0 0 15; /* Rayon de bordure */
    -fx-border-color: #fff; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 0 0 15; /* Rayon de la bordure */
}



.DetailGoBackBtn
{
    -fx-font-family: "Jost";
    -fx-font-size: 10;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.DetailGoBackBtn:hover
{
   -fx-opacity: 0.6;
}

.price-course-text{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 30;
    -fx-fill: #19BB1C;
}
.one-detail-container{
    -fx-background-color: transparent;
    -fx-border-color: #19BB1C;
    -fx-border-width: 0 0 0.5 0;
}
.text-mini-detail{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-fill: #000000;
}
.text-mini-detail-content{
    -fx-font-family: "Jost Light";
    -fx-font-size: 20;
    -fx-fill: #000000;
}
.price-course-text{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 30;
    -fx-fill: #19BB1C;
}

.courses-details-left{
    -fx-background-color: #a5f5b8;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #19BB1C;
    -fx-border-width: 0.5;
}
.course-details-img
{
    -fx-arc-height: 20;
    -fx-arc-width: 20;
}


.courses-details-left{
    -fx-background-color: #a5f5b8;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #19BB1C;
    -fx-border-width: 0.5;
}

.details-desc-enroll-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 14;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}
.details-desc-enroll-btn:hover{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 14;
    -fx-background-color: #19BB1C;
    -fx-text-fill: #D5FFDC;
    -fx-cursor: hand;
}




.tutor-course-details-name{
    -fx-font-family: "Jost Light";
    -fx-font-size: 26;
    -fx-fill: #000000;
}


.AddReviewBtn {
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-opacity: 0.6;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

.AddReviewBtn:hover {
    -fx-text-fill: rgba(0, 0, 0, 0.6);
}
.AddReviewBtn:pressed {
    -fx-text-fill: rgba(0, 0, 0, 0.6);
}

title-course-details
{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 30;
    -fx-fill: #000000;
}