.AnchorPaneDetailsProctClient
{
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-color: #fff; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de la bordure */
}
.DetailGoBackBtn
{
    -fx-font-family: "Jost";
    -fx-font-size: 10;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.DetailGoBackBtn:hover
{
   -fx-opacity: 0.6;
}