.FormUpdateAdmin
{
    -fx-min-width: 1200px;
    -fx-max-width: 1200px;
    -fx-min-height: 650px;
    -fx-max-height: 650px;
    -fx-background-color: #fff; /* Couleur de fond */
    /* -fx-background-radius: 15 15 15 15;  Rayon de bordure */
    -fx-border-color: #fff; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    /* -fx-border-radius: 15 15 15 15;  Rayon de la bordure */

}
.InputTextField
{
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}