.CartAnchorPane
{
    -fx-background-color: #fff ;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */
}

.Title
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 30;
    -fx-fill: #000000;
}
.Quantite
{
    -fx-text-fill: #000000;
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
}