



.BackAnchorPane
{
    -fx-background-color: #D5FFDC;
    -fx-translate-x: 150px;
    -fx-translate-y: 70px;
    -fx-background-radius: 18px 0px 0px 18;
}


.ImageLogo{
    -fx-translate-x: 20px;
    -fx-translate-y: 17px;
}




/*partie Homepage et Product Page*/

.GrandPageHomeProduct
{
    -fx-background-color: #fff;
    -fx-background-radius: 15 0 0 15;
    -fx-border-color: #fff;
    -fx-border-radius: 15 0 0 15;
}

.HomeAnchorPaneProduct
{
    -fx-background-color: #fff;
    -fx-background-radius: 15 0 0 15;
    -fx-border-color: #fff;
    -fx-border-radius: 15 0 0 15;
}

.ContainerAlltutor
{
    -fx-background-color: #fff;
    -fx-background-radius: 15 0 0 15;
    -fx-border-color: #fff;
    -fx-border-radius: 15 0 0 15;
}

.GrandPageHomeProductstudent
{
    -fx-background-color: #D5FFDC;
    -fx-border-color: #D5FFDC;

}

.HomeAnchorPaneProductstudent
{
    -fx-background-color: #D5FFDC;

    -fx-border-color: #D5FFDC;

}

.ContainerAllstudent
{
    -fx-background-color: #D5FFDC;
    -fx-border-color: #D5FFDC;
}

.MenuVbox {
    -fx-background-color: #1D6611; /* Background color */
    -fx-min-width: 120px; /* Width */
    -fx-pref-height: 680px; /* Height */
    -fx-top: 20px; /* Top margin */
    -fx-left: 20px; /* Left margin */
    -fx-background-radius: 56px; /* Background radius for rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Drop shadow effect */
}
.Logo
{
    -fx-translate-x: 30px;
    -fx-translate-y: 20px;
}
.MenuBtn
{
    -fx-font-family: jost;
    -fx-background-color: transparent;
    -fx-text-fill: #D5FFDC; /* Text color when not clicked */

}

.RectangleSearch {
    -fx-fill: #D9D9D9;
    -fx-border-radius: 56px;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.search-input{
    -fx-background-color: transparent;
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}

/* Pane Product style*/

.PaneGroupProduct {
    -fx-background-color: #D5FFDC; /* Couleur de fond */
    /*-fx-background-radius: 15 15 15 15; !* Rayon de bordure *!*/
    /*-fx-border-color: #fff; !* Couleur de la bordure par défaut *!*/
    /*-fx-border-width: 2px; !* Largeur de la bordure *!*/
    /*-fx-border-radius: 15 15 15 15; !* Rayon de la bordure *!*/
}

.PaneGroupProducttutor {
    -fx-background-color: #fff; /* Couleur de fond */
    /*-fx-background-radius: 15 15 15 15; !* Rayon de bordure *!*/
    /*-fx-border-color: #fff; !* Couleur de la bordure par défaut *!*/
    /*-fx-border-width: 2px; !* Largeur de la bordure *!*/
    /*-fx-border-radius: 15 15 15 15; !* Rayon de la bordure *!*/
}
.AddProductBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.AddProductBtntutor
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}



.TextShop
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 32;
    -fx-fill: #000000;
}

.ScrolPaneProduct{
    -fx-background-color: #D5FFDC  ;
}
.ScrolPaneProduct .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.ScrolPaneProduct .scroll-bar:vertical .thumb {
    -fx-background-color: #000000;
}
.ScrolPaneProduct .scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(0, 0, 0, 0.68);
}
.ScrolPaneProduct .scroll-bar:vertical .increment-button,
.ScrolPaneProduct .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}


.ScrolPaneProducttutor{
    -fx-background-color: #fff  ;
}
.ScrolPaneProducttutor .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.ScrolPaneProducttutor .scroll-bar:vertical .thumb {
    -fx-background-color: #000000;
}
.ScrolPaneProducttutor .scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(0, 0, 0, 0.68);
}
.ScrolPaneProducttutor .scroll-bar:vertical .increment-button,
.ScrolPaneProducttutor .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}


.search-bar{
    -fx-fill: #D9D9D9;
    -fx-border-radius: 56px;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.search-input{
    -fx-background-color: transparent;
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}

.productContainer
{
    -fx-background-color: #D5FFDC ;
    -fx-spacing: 25px;
    -fx-padding: 30px;
}




/*ItemProduct***************************************************************************/

.RectangleImageProduct {
    -fx-arc-height: 16;
    -fx-arc-width: 16;
}

.BoxProduct
{
    -fx-background-color: transparent;
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
   -fx-border-radius: 15 15 15 15; /* Rayon de bordure */
}

.ItemProductPane {
    -fx-background-color: #D5FFDC; /* Couleur de fond */
    -fx-border-color: #D5FFDC; /* Couleur de la bordure */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-width: 1px; /* Largeur du contour */

    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */
    -fx-min-width: 300px; /* Largeur minimale */
    -fx-min-height: 450px; /* Hauteur minimale */
    -fx-max-width: 300px; /* Largeur maximale */
    -fx-max-height: 450px; /* Hauteur maximale */
}

.ItemProductPanetutor {
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-border-color: #fff; /* Couleur de la bordure */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-width: 1px; /* Largeur du contour */

    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */
    -fx-min-width: 300px; /* Largeur minimale */
    -fx-min-height: 450px; /* Hauteur minimale */
    -fx-max-width: 300px; /* Largeur maximale */
    -fx-max-height: 450px; /* Hauteur maximale */
}

.NameProduct {
    -fx-font-family: "Jost";
    -fx-font-size: 20;
    -fx-fill: #252B42;
}
.Priceproduct
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-fill: #000000;
}
.DescProduct
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-opacity: 0.6;
    -fx-text-fill: #000000;
}
/* Style de base pour le bouton */
.BtnAcheter {
    -fx-font-family: "Jost Medium";
    -fx-font-size: 15;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}


.BtnAcheter:hover {
    -fx-opacity: 0.6;
}


.BtnAchetertutor {
    -fx-font-family: "Jost Medium";
    -fx-font-size: 15;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}


.BtnAchetertutor:hover {
    -fx-opacity: 0.6;
}

.GridContainerProduct {
    -fx-background-color: #D5FFDC;
    -fx-hgap: 5px; /* Espacement horizontal entre les cellules */
    -fx-vgap: 5px; /* Espacement vertical entre les cellules */
}

.GridContainerProducttutor {
    -fx-background-color: #fff;
    -fx-hgap: 5px; /* Espacement horizontal entre les cellules */
    -fx-vgap: 5px; /* Espacement vertical entre les cellules */
}
.grid-cell {
    -fx-background-color: white; /* Couleur de fond */
    -fx-border-color: black; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
}

/* Définition des dimensions des cellules */
.grid-cell {
    -fx-min-width: 50px; /* Largeur minimale */
    -fx-min-height: 50px; /* Hauteur minimale */
    -fx-max-width: 100px; /* Largeur maximale */
    -fx-max-height: 100px; /* Hauteur maximale */
}



