.AnchorPaneItem
{
    -fx-background-color: #fff;
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-color: #fff;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */

}

.ImageProduct
{
    -fx-arc-height: 16;
    -fx-arc-width: 16;
}

.NameProductAdmin {
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.PriceProduct
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.DateProduct
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-opacity: 0.6;
    -fx-text-fill: #000000;
}
.DescProduct
{
    -fx-font-family: "Jost";
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-wrap-text: true;
}
.CatProduct {
    -fx-font-family: "Jost";
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.CatProduct:hover {
    -fx-background-color: #CCCCCC;
}
.UpdateBtn
{
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 15;
    -fx-font-family: "Jost";
    -fx-font-size: 15;
}
.DeleteBtn
{
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 15;
    -fx-font-family: "Jost";
    -fx-font-size: 15;
}

.boxTableProduct
{
    -fx-background-color: Transparent;
    -fx-spacing: 25px;
    -fx-padding: 30px;
}