.AnchorForm {
    -fx-min-width: 1200px;
    -fx-max-width: 1200px;
    -fx-min-height: 650px;
    -fx-max-height: 650px;
    -fx-background-color: #D5FFDC; /* Couleur de fond */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-color: #D5FFDC; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de la bordure */
}


.AnchorFormtutor {
    -fx-min-width: 1200px;
    -fx-max-width: 1200px;
    -fx-min-height: 650px;
    -fx-max-height: 650px;
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-background-radius: 15 0 0 15; /* Rayon de bordure */
    -fx-border-color: #fff; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 0 0 15; /* Rayon de la bordure */
}

.title-form{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 32;
    -fx-fill: #000000;
}

.label-form{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}






.TextForm
{
    -fx-font-family: "Jost Medium";
    -fx-text-fill: #000000;
    -fx-font-size: 25;
}

.InputName {
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}




.InputDescription {
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}




.InputPrice {
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}

.InputQuantite {
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}



.GoBackBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.GoBackBtn:hover
{
    -fx-opacity: 0.6;
}


.GoBackBtntutor
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.GoBackBtntutor:hover
{
    -fx-opacity: 0.8;
}


.AddBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}

.AddBtn:hover
{
    -fx-opacity: 0.6;
}
.PictureBtn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.PictureBtn:hover
{
    -fx-opacity: 0.6;
}


.PictureBtn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.PictureBtn:hover
{
    -fx-opacity: 0.6;
}





















.AnchorPaneFormCommande
{
    -fx-background-color: #fff ;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */

}

.PasserOrderBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}

.PasserOrderBtn:hover
{
    -fx-opacity: 0.6;
}

.InputsOrder
{
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}

