.CartAnchorPane
{
    -fx-background-color: #D5FFDC ;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-color: #000000;
}

.Title
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 30;
    -fx-fill: #000000;
}