.ContainerTotalPrice
{
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;

    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */
}
.Panecart
{
    -fx-background-color: #fff;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */

}
.sousCartItem
{
    -fx-background-color: #fff;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: #fff;
    -fx-border-radius: 15 15 15 15;
    -fx-effect: dropshadow(gaussian, rgba(0.4,0,0,0.4), 30, 0, 0, 2); /* Augmenter l'ombre */

}
.souscartsInputs
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-fill: #000000;

}
.souscartsInputsPrice
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-opacity: 0.6;
    -fx-text-fill: #000000;
}
.sousCartProductImg
{
    -fx-arc-height: 16;
    -fx-arc-width: 16;
}
.cartAnchorepaneContainer
{
    -fx-min-width: 1200px;
    -fx-max-width: 1200px;
    -fx-min-height: 650px;
    -fx-max-height: 650px;
    -fx-background-color: #D5FFDC; /* Couleur de fond */
    -fx-background-radius: 15 15 15 15; /* Rayon de bordure */
    -fx-border-color: #D5FFDC; /* Couleur de la bordure par défaut */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 15 15 15 15; /* Rayon de la bordure */
}
.hideCartBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-opacity: 0.6;
    -fx-background-radius: 8px;
}
.hideCartBtn:hover
{
    -fx-opacity: 0.6;
}
.passerCommandeBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.passerCommandeBtn:hover
{
    -fx-opacity: 0.6;
}
.cartItemsContainer
{    -fx-spacing: 15px;
    -fx-padding: 15px;
    -fx-background-color: #D5FFDC;
}

.ScrolPaneContainerSousCarte{
    -fx-background-color: #D5FFDC;  ;
}
.ScrolPaneContainerSousCarte .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.ScrolPaneContainerSousCarte .scroll-bar:vertical .thumb {
    -fx-background-color: #1D6611;
}
.ScrolPaneContainerSousCarte .scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgba(0, 0, 0, 0.68);
}
.ScrolPaneContainerSousCarte .scroll-bar:vertical .increment-button,
.ScrolPaneContainerSousCarte .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
.totalPriceCartLabel
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 25;
    -fx-background-color: #fff;
    -fx-border-radius: 15 15 15 15;
    -fx-text-fill: #000000;
    -fx-background-radius: 8px;
}
.openCart
{
    -fx-background-color: transparent;
}

.CloseCart
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: Transparent;
    -fx-background-radius: 8px;
}
.CloseCart:hover
{
    -fx-opacity: 0.6;
}

.decrementValue
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.decrementValue:hover
{
    -fx-opacity: 0.6;
}
.incrementValue
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.incrementValue:hover
{
    -fx-opacity: 0.6;
}
.ConfirmeCartBtn
{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #000000;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.ConfirmeCartBtn:hover
{
    -fx-opacity: 0.6;
}

.Title
{
    -fx-font-family: "Jost";
    -fx-font-size: 18;
    -fx-fill: #000000;
}


.CarteVide
{
    -fx-border-radius: 15 15 15 15;
    -fx-background-color: Transparent;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: #FF0000;
    -fx-border-width: 3px;
}
.quantitevide
{
    -fx-border-radius: 15 15 15 15;
    -fx-background-color: Transparent;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: #FF0000;
    -fx-border-width: 3px;
}
.DeleteBtnSousCart
{    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2px;
    -fx-border-color: #FF0000;
    -fx-background-color: transparent;

}

.mapContainer
{
    -fx-background-color: #fff ;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-color: #000000;
}

.closemap
{
    -fx-background-color: transparent;
}

.TitelMycart
{
    -fx-font-family: "Jost";
    -fx-font-size: 30;
    -fx-fill: #000000;
}
